<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>As a seasoned designer and IT consultant, I thrive on tackling challenging projects and finding innovative solutions to complex problems. With a discerning eye for detail and strong time management skills, I excel at efficiently 
          juggling multiple tasks and ensuring that each project is completed to the highest standards.</p>
      </div>

      <div class="col-lg-4">
        <p> My expertise in web design and development, UI/UX, CMS management, Software and Hardware help and IT support has been honed through my work with 
          diverse clients across different industries.I am excited to bring my skills and experience to a dynamic and innovative design or IT team, where I can make meaningful contributions and drive impactful results as a leader.</p>
      </div>
    
        </a>
      </div>
    </div>
  </div>
</section>
